*{
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

#topbar{  
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    color: white;
    background-color: black;
    margin-top: 0;
    height: auto;
    padding: 15px;
}
/* #topbar img{
    margin: 1px;
    padding: 0px;
} */
.navbar{
    height: auto;
    padding: 15px 80px;
    background-color:black;
    display: flex;
    align-items: center;
}
.nav-start{
    display: flex;
    justify-content:flex-start;
}
#main-icon{
    margin: 0px;
    padding:20px;
    /* background-color: aqua; */
}

 #others{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px;
    color: grey;
 }
 .icons{
    display: flex;
    padding-left: 500px;
    gap:  16px;
 }
 #outer{
    margin: 10px;
 padding: 10px;
 }
 
 .box-row-1 img {

    margin: 50px ;
    /* padding: 30px; */
    height: 400px;
    width: 400p;
 }
 
 .third-row{
    margin: 0px 150px 80px 50px ;
    display: flex;
    gap: 55px;
 }
.footer-contents{
    /* margin: 20px; */
    padding: 45px;
    color: white;
    text-align: center;
}
#note{
    padding: 50px;
    font-size: 30px;
}
button{
    background-color: black;
    color: aliceblue;
    font-size: 16px;
     padding: 15px 32px;
     margin-top: 20px;
}
#footer-color{
    margin: 10px;
    color: gray;
    text-decoration: underline;
    padding: 20px;
}